/* 최신 v4 엔진 호출 방식입니다! */
@import "tailwindcss";

@layer base {
  :root {
    --background: #F5F4F0;
    --foreground: #222222;
  }
  .dark {
    --background: #121212;
    --foreground: #F5F4F0;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}